@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

.thankContainer{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
    height: 350px;
    background-color: var(--white-colo);
    padding: 40px;
    border-radius: 5px;

    display: flex;
    flex-direction: column; 
    align-items: center;

    font-family: 'Commissioner', sans-serif;
}
.thankContainer img{
    width: 50px;
    height: 50px;
    margin-bottom: 29px;
}
.thankContainer h4{
    margin-bottom: 17px;
}
.thankContainer p{
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    color: var(--dark-gray);
    margin-bottom: 25px;
    font-weight: 400;
}
.thankContainer button{
    padding: 10px 25px;
    border-radius: 30px;
    background-color: var(--moderate-cyan);
    outline: none;
    border: none;
    color: var(--white-colo);
    font-family: 'Commissioner', sans-serif;
    cursor: pointer;
}
.thankContainer button:hover{
    background-color: var(--dark-cyan);
}