@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

.modalSection, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;   
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    margin-top: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 3px;
    width: 700px;
    /* height: 100vh; */
    padding: 40px;

    font-family: 'Commissioner', sans-serif;
    /* height: 1000px; */
    max-height: 150vh;
}

.modal-content .claim{
    font-size: 14px;
    color: var(--dark-gray);
    margin-top: 13px;
    font-weight: 500;
    margin-bottom: 25px;
}
.covering{
    margin-bottom: 23px;
    width: 100%;
    /* height: 150px; */
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
}
.selected{
    border: 2px solid var(--moderate-cyan);
}

.pledging{
    
    /* border: 1px solid rgb(200, 200, 200); */
    padding: 20px;
  
    outline: none;
    font-family: 'Commissioner', sans-serif;

    display: flex;
    /* margin-bottom: 23px; */
}
.pledging .optionBox{
    width: 10%;
    height: 100%;
}
.pledging p{
    font-size: 13px;
    color: var(--dark-gray);
    font-weight: 500;
}

.topLayer{
    margin-bottom: 10px;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}
.topLayer .rightside{
    display: flex;
}
.topLayer .rightside > .fourtH{
    color: var(--darkgray);
}
.topLayer .rightside > .cyan{
    color: var(--moderate-cyan);
    margin-left: 20px;
}
.topLayer .rightside > .cyanFourth{
    color: hsl(175, 25%, 72%);
}
.topLayer .leftside{
    display: flex;

}
.topLayer .leftside > .parr{
    font-weight: 700;
    font-size: 14px;
    color: black;
    
}
.topLayer .leftside > .parrFourth{
    color: rgb(145, 139, 139);
}
.leftside > .leftParr{
    font-size: 13px;
    margin-left: 8px;
    /* border: 1px solid green; */
    font-weight: 400;
}
.leftside > .leftParrF{
    color: #e9e9e9;
}
.pledgeCont p{
    line-height: 25px;
}
.pledgeCont .fourthP{
    color: #e6e0e0;
}
.optionBox .radioButton{
    width: 15px;
    height: 15px;
    border: 1px solid #d3d0d0;
    border-radius: 50%;
    margin: 3px 5px;
}
.optionBox .radioButtonn{
    --webkit-appearance: none;
    appearance: none;
    border: 1px solid #e6e0e0;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.choosingSect{
    border-top: 1px solid #d3d0d0;
    width: 100%;
    height: 80px;
    padding: 20px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.statement p{
    color: var(--dark-gray);
    font-size: 13px;
    font-family: 'Commissioner', sans-serif;
}
.amount .inputSpan{
    padding: 7px 18px;
    /* border: 1px solid green; */
    border: 1px solid #d3d0d0;
    width: 90px;
    display: flex;
    border-radius: 90px;
    font-family: 'Commissioner', sans-serif;
}
.amount span{
    margin-right: 10px;
    color: #d3d0d0;
    font-family: 'Commissioner', sans-serif;
}
.choosingSect .amount input{
    width: 40px;
    outline: none;
    border: none;
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
}   
.amount{
    display: flex;
    align-items: center;
}

.amount button{
    padding: 10px 18px;
    background-color: var(--moderate-cyan);
    border: none;
    outline: none;
    color: var(--white-colo);
    border-radius: 40px;
    font-weight: 700;
    font-size: 13px;
    margin-left: 13px;
    cursor: pointer;
}

