
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);

    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);

    --white-colo: rgb(255,255,255);
}
